# Virtual environment #
backend/venv

# test functions #
backend/scraping/scrape_tester.py
backend/scraping/fpl_api_requests.py
backend/assets

# logs and cache #
*.log
*.pot
*.pyc
__pycache__

db.sqlite3
backend/media

# Backup files # 
*.bak 
