backend/venv
backend/scraping/scrape_tester.py
backend/scraping/fpl_api_requests.py
backend/db.sqlite3
backend/data/
backend/scraping/__pycache__

# Django #
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__
backend/db.sqlite3
backend/media

# Backup files # 
backend/*.bak 
